<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

  <main class="container">

    <% include ../static/partials/messages.ejs %>


    <h1><%= `${user.email}'s profile` %></h1>

    <hr>

    <h2> Latest Posts - Last 5</h2>
    <ul class="list-unstyled">
      <% if(posts) { %>
      <% let count = 0;%>
      <% posts.forEach((post) => { %>
      <% count += 1;%>
      <li>
        <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>">
          <%= `${count}. ${post.title}` %>
        </a>
      </li>
      <% }) %>
      <% } %>
    </ul>
    <hr>

    <h2> Latest Comments - Last 5</h2>
    <ul class="list-unstyled">
      <% if(comments) { %>
      <% let count = 0;%>
      <% comments.forEach((comment) => { %>
      <li>
        <span>Post:</span><a href="/topics/<%= comment.Post.topicId %>/posts/<%= comment.Post.id %>">
          <%= comment.Post.title %>
        </a>
        <p><%= count +1 %>. Comment: "<%= comment.body %>"</p>
      </li>
      <hr>
      <% }) %>
      <% } %>
    </ul>

    <h2> Favorited Posts - Full List</h2>
    <ul class="list-unstyled">
      <% if(favorites) { %>
      <% let count = 0;%>
      <% favorites.forEach((favorite) => { %>
      <% count += 1;%>
      <li>
        <a href="/topics/<%= favorite.Post.topicId %>/posts/<%= favorite.Post.id %>">
          <%= `${count}. ${favorite.Post.title}` %>
        </a>
      </li>
      <% }) %>
      <% } %>
    </ul>
    <hr>
  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>